/* variables */ 
:root{
    /*Colores*/
    --cyan:  hsl(176, 68%, 64%);
    --azul: hsl(198, 60%, 50%);
    --rojo: hsl(0, 100%, 63%);
    --blanco: #FFF;
    --negro: #000;
    --background-hero: #1B2330;
    --background-body: #181E2A;
    --color-pgraph-cards: rgb(167, 167, 167)


    /*Tipografías*/
    --font_size: 14px;
    --headings: 'Raleway', sans-serif;
    --body: 'Open Sans', sans-serif;

    
    /* Medidas */ 
    --movil: 375px; 
    --desktop: 1440px;
}  


.body {
    font-family: var(--body);
    font-size: var(--font_size);
    background-color: var(--background-body);
    min-width: var(--movil);
    max-width: var(--desktop);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} 

/* header */ 

.header {
    height: 380px;
    background-color: var(--background-hero);
    padding: 15px 25px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon-container--logo {
    width: 100px;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__list--link {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.nav .link-2 {
    margin-right: 0;
}


.header__image-container--image {
    max-width: 100%;
    margin-top: 50px;
}

/*section files*/

.files {
    color: var(--blanco);
    text-align: center;
    padding: 0 30px;
}

.files__background {
    height: 200px;
    margin-top: -210px;
}

.files__title {
    margin-top: 50px
}

.files__pgraph {
    padding: 0px 12px;
    margin: 30px 0px;
}

.files__button {
    padding: 15px 80px;
    border-radius: 50px;
    border: none;
    background-color: var(--azul);
    color: var(--blanco);
    font-weight: bold;
}

/*section characteristics*/

section{
    color: var(--blanco);
} 

.characteristics {
    margin-top: 30px;
    text-align: center;
    padding: 0 40px;
}

.characteristics-icon {
    margin-top: 70px;
}


/* section productive */ 

section.productive {
    text-align: center;
    padding: 0 40px;
}

figure.productive-wrapper-container1__figure {
    margin-top: 100px;
}

img.productive-wrapper-container1__figure--image {
    max-width: 100%;
}


.productive-wrapper-container2 {
    text-align: left;
}

.productive-wrapper-container2__title,
.productive-wrapper-container2__pgraph{ 
    text-align: left;
}

.productive-wrapper-container2__title {
    font-size: 17px;
}

.productive-wrapper-container2__pgraph {
    font-size: calc(var(--font_size) - 1px);
}

.productive-wrapper-container2__span {
    display: block;
    margin-top: 10px;
}

.productive-wrapper-container2__button {
    margin-top: 17px;
    text-align: left;
    color: var(--azul);
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--azul);
    height: 30px;
}


/* section reviews */ 

.reviews {
    padding: 0 30px;
    margin-top: 50px
}


.reviews-wrapper__card1-info--image-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.reviews-quotes {
    height: 20px;
    margin-left: 10px;
}

.reviews-wrapper__card1 {
    background-color: var(--background-hero);
    padding: 10px 30px;
    margin-bottom: 20px;
}

.reviews-wrapper__card1-info--image {
    display: flex;
    align-items: center;
}

.pgraph-card-span {
    display: inline-block;
    font-size: 10px;
    color: rgb(167, 167, 167);
}

div.reviews-wrapper__card2 {
    margin-top: 40px;
}

.reviews-wrapper__card2-info--image-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px; 
}

.reviews-wrapper__card2-info--image {
    display: flex;
    align-items: center;
}

.reviews-wrapper__card2 {
    margin-top: 20px;
}




